* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.login-container {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.image-section {
  flex: 1;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/antila.jpg'); 
  background-size: cover;
  background-position: center;
}

.form-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fef9e7; /* Light gold background for form section */
}

.logo {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  color: #c70039; /* Red color for logo text */
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #c70039; /* Red color for labels */
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #f4d03f; /* Gold for back button */
  color: #900c3f; /* Dark red for button text */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #ffcc00; /* Darker red for hover state */
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 14px;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 14px;
}

/* Media Queries for Tablets */
@media (max-width: 768px) {
  .login-container {
      flex-direction: column;
      width: 100%;
      height: auto;
  }

  .image-section {
      height: 200px; /* Adjust height for image section */
  }

  .form-section {
      padding: 20px;
  }

  .logo {
      font-size: 24px;
      margin-bottom: 20px;
  }

  .input-group input {
      padding: 8px;
      font-size: 14px;
  }

  .login-btn {
      padding: 10px;
      font-size: 14px;
  }
}
